.ImageModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ImageModal img {
    width: 100%;
    height: 50vh;
    object-fit: contain;
}

.closeBtn {
    border: none;
    background-color: transparent;
    padding-bottom: 50px;
}

.closeBtn svg {
    width: 30px;
    height: 30px;
}

p {
    padding-top: 30px;
}